.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}


.grid2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid2 a{
    width: 100%;
    text-align: center;
}
.grid2 h1{
    font-size: 3vw;
    margin: 0 !important;
}
.grid2 p{
    font-size: 1vw;
    color: #848484;
}
.grid2 button{
    width: 30%;
    height: 6vh;
    border-radius: 22px;
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 5%;
}


.track-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.7%;
}
.track-container .sbox{
    margin-bottom: 1.7%;
    width: 21.5%;
    height: 42vh;
    margin-right: 4.65%;
}
.track-container .sbox:nth-child(4n+0){
    margin-right: 0;
}

.flexbox .sbox{
    width: 21.5%;
    height: 42vh;
}