.home{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}
.heading h1{
    margin: 0;
    margin-bottom: -20px;
    padding: 0;
    font-size: 2.6vw;
}
.big{
    font-size: 4vw !important;
}
.dylan{
    width: 50%;
}
#logo{
    width: 42%;
    margin-right: 2%;
}
.dylan p{
    width: 80%;
    font-size: 1.1vw;
}
.italic{
    font-style: italic;
}
.flexi{
    display: flex;
    align-items: center;
    margin-top: 2.5%;
}
.img1{
    width: 40px;
    height: 50px;
    margin-left: 20px;
}
.img2{
    width: 110px;
    height: 30px;
    margin-left: 20px;
}
.line{
    width: 110%;
    margin-left: -5%;
    margin-top: 5%;

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.about img{
    width: 92%;
    margin-top: 50px;
}

.abt h1, .ourprocess h1, .mymixes h1{
    font-size: 3.2vw;
}
.abt p, .ourprocess p{
    margin-top: 3%;
    font-size: 1.1vw;
    width: 92%;
    margin-left: -2px
}

.ourprocess p{
    width: 73%;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}
.card{
    width: 23%;
    height: 12vh;
}
.card img{
    width: 40px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(50, 54, 69, 0.47);
    color: #FFFFFF;
    border-radius: 20px;
}
.card p{
    font-size: 1.2vw;
    padding-left: 25px;
    font-weight: 500;
    font-family: poppins;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.sbox{
    background-image: url(../static/mix1.png);
    width: 350px;
    height: 340px;
    border-radius: 20px;
    cursor: pointer;
}
.play{
    display: flex;
    justify-content: center;
    margin-top: auto;
    flex-direction: column;
    margin-left: 0;
}
.play{
    margin-top: auto;
    /* margin-left: 20px; */
    /* background: rgba(18, 18, 18, 0.66); */
    /* backdrop-filter: blur(3px); */
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.player{
    position: absolute;
    bottom: 3.5%;
    left: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    height: 55px;
    padding: 0 10px;
    padding-right: 0;
    border-radius: 27px;
    background: rgba(18, 18, 18, 0.66);
    backdrop-filter: blur(3px);
}
.column p{
    font-size: 0.8rem;
    margin-left: 5px;
}
